<header class:list={['p-2.5', 'bg-background-secondary']}>
  <div class:list={['flex', 'gap-2.5', 'justify-end', 'w-full', 'max-w-screen-lg', 'mx-auto', 'items-center']}>
    <a href="/help-center"
       class:list={['text-[white]', 'text-[12px]', 'hover:underline', 'underline-offset-2']}>Help</a>

    <button
        class:list={['rounded-[4px]', 'border', 'border-[white]', 'text-[12px]', 'text-[white]', 'px-5', 'hover:bg-[white]', 'hover:text-background-secondary', 'py-[2px]']}>
      Sign Off
    </button>
  </div>
</header>